button {
  height: 100px;
  width: 90px;
}


body {
    padding: 2rem;
}

.container {
  margin: auto;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  border: thin black solid;
  border-radius: 5px;
  padding: 1rem;
  gap: 10px;
  background-color: #e9e3e0;
}

[data-value="="] {
  flex-grow: 1;
  margin-right: 10px;
}

p
{
    width: 400px;
    height: 4rem;
    text-align: right;
    font-size: 4rem;
    margin: 16px;
    border: thin solid black;
    border-radius: 5px;
    background-color: #cbd9c7;
}



button
{
  font-size: 1.5rem;
  color: white;
}

[data-type="remove"] {
  background-color: #eb5f82;
}
[data-type="number"] {
  background-color: #68605c;
}
[data-type="operation"], [data-type="sign"] {
  background-color: #3e3534;
}
